/* Parte Graziele */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #080808 0%, #141414 50%, #080808 100%);
    background-size: cover;
    background-position: center;
}

.container{
    width: 90%;
    max-width: 420px; /*deixa menor no desktop*/
    background-color: rgba(0,0,0,0.75);
    border: 2px solid #f39c12;
    border-radius: 10px ;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 0 30px rgba(243,156,18,0.15);
    backdrop-filter: blur(30px); /* !! */
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/*CAIXINHA USUARIO E SENHA */
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #f39c12;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 40px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.logo-login {
    display: block;
    width: 80px;
    margin: 0 auto 15px auto;
    filter: drop-shadow(0 0 10px rgba(243,156,18,0.5));
}
/*ICONES*/
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); /*centraliza icone*/
    font-size: 20px;
}

/* LEMBRE A SENHA E ESQUECI A SENHA*/
.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #f39c12;
    margin-right: 5px;
}

.remember-forgot a{
    text-decoration: none;
    color: white;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

/*BOTAO ENTRAR*/
.login{
    width: 100%;
    height: 50px;
    background-color:#f39c12;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.login:hover{
    background-color: transparent;
    border: 2px solid #f39c12;
    color: white;
    transition: 0.5s;
}

/* CADASTRE-SE*/
.register-link{
    font-size: 14px;
    align-items: center;
    margin: 20px 0 15px;
}

.register-link a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.register-link a:hover{
    text-decoration: underline;
}

/*SOU FUNCIONARIO*/
.funcionario{
    font-size: 14px;
    align-items: center;
    margin: 20px 0 15px;
}

.funcionario a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.funcionario a:hover{
    text-decoration: underline;
}

@media (min-width: 480px) {
    .container {
        padding: 30px 40px;
    }

    .container h1 {
        font-size: 36px;
    }
}